@model DailyNutrition.Models.Schema

@{
    ViewData["Title"] = "Create";
}

<h1>It's feeding time</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FeedingDuration" class="control-label"></label>
                <input asp-for="FeedingDuration" class="form-control" />
                <span asp-validation-for="FeedingDuration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormulaAmount" class="control-label"></label>
                <input asp-for="FormulaAmount" class="form-control" />
                <span asp-validation-for="FormulaAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="D_Vitamin_Intake" class="control-label"></label>
                <input asp-for="D_Vitamin_Intake" class="form-control" />
                <span asp-validation-for="D_Vitamin_Intake" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
