
@{
    ViewData["Title"] = "Index";
}


<div class="row" style="padding-top:5%">
    <div class="column">
        <div class="box">
            <img src="~/images/breakfast.jpg" alt="breakfast" onclick="location.href='@Url.Action("Create", "Breakfasts")'" />
        </div>
    </div>
    <div class="column">
        <div class="box">
            <img src="~/images/lunch.jpeg" alt="Lunch" onclick="location.href='@Url.Action("Create", "Lunches")'" />
        </div>
    </div>
    <div class="column">
        <div class="box">
            <img src="~/images/dinner.jpg" alt="Dinner" onclick="location.href='@Url.Action("Create", "Dinners")'" />
        </div>
    </div>
    <div class="column">
        <div class="box">
            <img src="~/images/snacks.jpeg" alt="Snacks" onclick="location.href='@Url.Action("Create", "Snacks")';" />
        </div>
    </div>
</div>
