
@{
    ViewData["Title"] = "Index";
}


<div class="row" style="padding-top:5%">
    <div class="col-md-3">
        <div class="box">
            <img src="~/images/breakfast.jpg" alt="breakfast" />
            <div class="overlayImage" onclick="location.href='@Url.Action("Create", "Breakfasts")'">
                <div class="text">Lägg till frukost</div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="box">
            <img src="~/images/lunch.jpeg" alt="Lunch" />
            <div class="overlayImage" onclick="location.href='@Url.Action("Create", "Lunches")'">
                <div class="text">Lägg till lunch</div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="box">
            <img src="~/images/dinner.jpg" alt="Dinner" />
            <div class="overlayImage" onclick="location.href='@Url.Action("Create", "Dinners")'">
                <div class="text">Lägg till middag</div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="box">
            <img src="~/images/snacks.jpeg" alt="Snacks" />
            <div class="overlayImage" onclick="location.href='@Url.Action("Create", "Snacks")'">
                <div class="text">Lägg till mellanmål</div>
            </div>
        </div>
    </div>
</div>
