@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">My daily nutrition</h1>
    <p>Keep an eye on your babys daily nutrition. A full baby is a healthy baby!</p>
</div>
